.is-appstore-button {
    display: inline-block;
    width:200px;
}

.link {
    margin-top: 20px;
    font-size: 1rem;

    a {
        color: #485fc7;
        cursor: pointer;
        text-decoration: none;
    }
}