<footer id="footer" class="wrapper">
  <div class="inner">
    <div id="footer-copyright">
      &copy; {{ moment().year() }} <a href="https://github.com/hexojs/hexo/graphs/contributors" target="_blank">{{ config.author }} 版权所有</a><br>
      鄂ICP备2022008955号-1
    </div>
  </div>
</footer>
