layout: index
description: Broadcast high quality video from your iPhone's camera into OBS Studio
subtitle: Broadcast high quality video from your iPhone's camera into OBS Studio
comments: false
---
//- div#intro-text-wrapper-1
//-   div#intro-text-1
//-     b If you've ever wanted to stream using your iPhone camera.
//-     text We've got you covered. We've tried all the apps that let you do it over wifi, but they weren't fast enough, so we created an app that not only streams video & audio over Wi-Fi, but
//-     i  also 
//-     b over a low-latency wired USB connection 
//-     text to your Mac and PC using our OBS Studio plugin.
//- div#intro-text-wrapper-2
//-   div#intro-text-2
//-     h2.red We're not joking when we say high quality.
//-     p.subtitle
//-     b Move your mouse over the comparison images
//-     text  to see the quality difference between the highly recommended Logitech C922 HD Pro and an iPhone 6. It's night and day!
div.swiper#swiper
  div.swiper-wrapper
    div.swiper-slide
      div.swiper-zoom-container
        img(src="https://29753074.s21i.faiusr.com/4/ABUIABAEGAAgwa76mAYo2Ov4hQIwhAo42hU.png")
    div.swiper-slide
      div.swiper-zoom-container
        img(src="https://29753074.s21i.faiusr.com/4/ABUIABAEGAAgwa76mAYo2Ov4hQIwhAo42hU.png")
    div.swiper-slide
      div.swiper-zoom-container
        img(src="https://29753074.s21i.faiusr.com/4/ABUIABAEGAAgwa76mAYo2Ov4hQIwhAo42hU.png")
  div.swiper-button-prev
  div.swiper-button-next
div.feature-background-wrap
  div.feature-wrap
    h3.title Along with all the features you'd expect
    h5.subtitle to broadcast your way.
    ul#intro-feature-list
      li.intro-feature-wrap
        .intro-feature
          .intro-feature-icon
            i.fa.fa-bolt
          h3.intro-feature-title Quality video
          p.intro-feature-desc The iPhone's cameras are good, really good. There’s no comparison between the Logitech C922 HD Pro and the iPhone 6 Camera.
      li.intro-feature-wrap
        .intro-feature
          .intro-feature-icon
            i.fa.fa-pencil
          h3.intro-feature-title Low Latency
          p.intro-feature-desc Stream video over a wired USB connection. This avoids the issue of delay over wifi, which is handy when you have multiple audio and video sources to sync.
      li.intro-feature-wrap
        .intro-feature
          .intro-feature-icon
            i.fa.fa-cloud-upload
          h3.intro-feature-title Wireless Streaming
          p.intro-feature-desc Stream wirelessly to any reciever compatible with the NewTek NDI protocol.
      li.intro-feature-wrap
        .intro-feature
          .intro-feature-icon
            i.fa.fa-cog
          h3.intro-feature-title macOS and Windows
          p.intro-feature-desc The app supports iOS 10+, and the OBS Studio plugin supports macOS 10.13+ and Windows 8+.
      li.intro-feature-wrap
        .intro-feature
          .intro-feature-icon
            i.fa.fa-laptop
          h3.intro-feature-title Multiple Devices
          p.intro-feature-desc Run the app on multiple iOS devices for multiple camera angles.
      li.intro-feature-wrap
        .intro-feature
          .intro-feature-icon
            i.fa.fa-headphones
          h3.intro-feature-title Audio Support
          p.intro-feature-desc Not just limited to video, the latest versions now support streaming audio too.
div.feature-background-wrap-third
  div.feature-wrap-third
    h3.title Pro-Video Camera Controls
    h5.subtitle All of the features you'd expect from a DSLR to get that perfect shot.
    ul#intro-feature-list-third
      li.intro-feature-wrap-third
        .intro-feature-third
          .intro-feature-icon-third
            i.fa.fa-cloud
          h3.intro-feature-title-third Manual Camera
          p.intro-feature-desc Take control of the focus, exposure, white balance as you would on a manual camera.
      li.intro-feature-wrap-third
        .intro-feature-third
          .intro-feature-icon-third
            i.fa.fa-cloud
          h3.intro-feature-title-third Lens Selection
          p.intro-feature-desc Use all the lenses available to newer iOS hardware. iPhone 11 Ultra-Wide compatible.
      li.intro-feature-wrap-third
        .intro-feature-third
          .intro-feature-icon-third
            i.fa.fa-cloud
          h3.intro-feature-title-third Alignment Grids
          p.intro-feature-desc Make sure the shot lines up as you’d expect.
      li.intro-feature-wrap-third
        .intro-feature-third
          .intro-feature-icon-third
            i.fa.fa-cloud
          h3.intro-feature-title-third Focus Peaking
          p.intro-feature-desc Manual focus has never been easier. See which areas of the image are in focus.
      li.intro-feature-wrap-third
        .intro-feature-third
          .intro-feature-icon-third
            i.fa.fa-cloud
          h3.intro-feature-title-third Exposure Highlights
          p.intro-feature-desc Know which part of the image are over exposed and under exposed.
      li.intro-feature-wrap-third
        .intro-feature-third
          .intro-feature-icon-third
            i.fa.fa-cloud
          h3.intro-feature-title-third Live Histogram
          p.intro-feature-desc Make sure the image is well balanced and color corrected.